body {
    background-image: url("crumpledpaper.jpg");
 /* background-color: LightSeaGreen;*/
  font-family: helvetica, arial, "sans-serif";
  padding: 10px;
  margin-left: 75px;
  margin-right: 75px;
  }
h1{
  text-align: center;
  text-shadow: 2px 2px 5px rgb(128, 0, 128), 0 0 10px rgb(0, 255, 255);
}
h2{
  text-align: left;
  border-top: solid thin black;
  border-bottom: solid thin black;
  border-right: solid thin black;
  border-left: solid thin black;
  background-color: AntiqueWhite;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 5px;
  padding-left: 5px;
}
 #address{
  height: 100px;
  float: center;
  width:25%;
  margin-right: auto;
  margin-left: auto;
  vertical-align: bottom;
  background-color: AntiqueWhite;
  border: solid 1px black;
  padding: 5px;
  text-align: center;
}
.year {
  float: right;
  width: 200px;
  text-align:right;
}
img {
  height: 200px;
}
