body {
  background-color: Papayawhip;
}
h1{
  text-align: center;
}
h2{
  text-align: center;
  border-top: solid thin black;
  border-bottom: solid thin black;
  background-color: Gainsboro;
  padding-top: 10px;
  padding-bottom: 10px;
}

footer{
  clear: both;
  top-border: think solid #000;
  text-align: center;
}
footer span{
  align: center;
  width: 350px;
}
img {
  align: center;
  height: 200px;
}
