body {
    background-image: url("whitecrumpledpaper.jpg");
  background-image:  linear-gradient(to bottom right, white, rgb(204, 187, 151), rgb(70, 70, 165), rgb(82, 219, 82));
     background-repeat: repeat-y;
  font-family: helvetica, arial, "sans-serif";
  padding: 10px;
  margin-left: 75px;
  margin-right: 75px;
  }
h1{
  text-align: center;
  text-shadow: 2px 2px 5px rgb(128, 0, 128), 0 0 10px rgb(0, 255, 255);
}
h2{
  text-align: left;
 border-top: solid  3px black;
  border-bottom: solid  3px  black;
  border-right: solid  3px black;
  border-left: solid  3px black;
  box-shadow: 5px 5px 5px grey;
  background-color: AntiqueWhite;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 5px;
  padding-left: 5px;
}
 #address{
  height: 100px;
  float: center;
  width:25%;
  margin-right: auto;
  margin-left: auto;
  vertical-align: bottom;
  background-color: AntiqueWhite;
  border: solid 3px black;
  padding: 5px;
  text-align: center;
  box-shadow: 5px 5px 5px grey;
   
}
.year {
  float: right;
  width: 200px;
  text-align:right;
}
img {
  height: 200px;
    border: 3px solid black;
     box-shadow: 5px 5px 5px grey;
}
p{
    font-family:  serif;
    font-weight: bold;
}
